nav#nav_top2 {
  display: none;
  margin-top: -15px;
  margin-bottom: -10px;
  margin-left: -40px;
  text-align: center;
  font-size: 16pt;
  font-weight: bold;
}
ul.submenu {
  display: none;
}
ul.topmenu li {
  display: inline-block;
  position: relative;
}

ul.submenu {
  position: absolute;
  left: 0;
  z-index: 5;
  width: 100px;
  background-color: #007600;
  text-align: left;
  font-size: 12pt;
  font-weight: bold;
  font-style: italic;
  padding-left: 20px;
  padding-bottom: 20px;  
}
ul#ind {
  width: 160px;
}

ul.submenu li a {
  color: yellow;
}
ul.submenu2 {
  margin-left: -20px;
}
ul.submenu2 li a {
  color: yellow;
  font-size: 12pt;
}
nav#nav_side2 {
  padding-left: 0;
  margin-left: -40px;
  margin-top: -20px;
  text-align: left;
  font-size: 14pt;
  font-style: italic;
  font-weight: bold;
  position: absolute;
  left: 30px;
  top: 200px;
  display: none;
}

@media only screen and (max-width: 1000px) {
  input {
    font-size: 20pt;
  }
  nav#nav_top2 {
    font-size: 20pt;
  }
  ul.submenu {
    font-size: 16pt;
  }
}
